$colors: (
  "halloween": #54246a,
  "andromeda": #733e97,
  "night": #315aa9,
  "sky": #3186c7,
  "sunshine": #f3ac47,
  "pink": #da1e77,
  "salmon": #e75a6a,
  "darkness": #333333,
  "mellow": #9e9e9e,
  "nature": #06d25a,
  "void": #eeeeee,
  "baby": #27b9f5
);

.fera-btn {
  font-size: 18px;
  padding: 20px 60px;
  text-transform: uppercase;
  background-color: #2b86cb;
  border-radius: 4px;
  background-color: map-get($colors, sky);
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  transition: all 100ms ease;
  will-change: background, transform, color;

  &:hover {
    background-color: lighten(map-get($colors, sky), 10%);
  }

  &:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.1);
  }

  i {
    font-size: 150%;
    vertical-align: sub;
  }

}

/*=============================
=            Sizes            =
=============================*/

.fera-btn.-small {

  @media #{$tablet} {
    font-size: 13.5px;
    padding: 15px 45px;
  }

}

.fera-btn.-big {
  font-size: 22.5px;
  padding: 25px 75px;
}

/*=====  End of Sizes  ======*/

/*==================================
=            Variations            =
==================================*/

.fera-btn.-pill {
  font-size: 16px;
  padding: 9.5px 20px;
  border-radius: 999px;
}

.fera-btn.-action {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 26px 90px;
}

/*=====  End of Variations  ======*/


/*=============================
=            Icons            =
=============================*/

.fera-btn.-icon-left {

  i {
    @include rem(margin-right, 20px);
  }
}

.fera-btn.-icon-right {

  i {
    @include rem(margin-left, 20px);
  }

}

.fera-btn.-icon-top {

  i {
    display: block;
    text-align: center;
    @include rem(margin-bottom, 20px);
  }

}

/*=====  End of Icons  ======*/


/*==============================
=            Colors            =
==============================*/

@each $name, $map in $colors {

  .fera-btn.-#{$name} {
    background-color: map-get($colors, $name);

    @if (lightness(map-get($colors, $name)) > 70) {
      color: #000000; // Lighter backgorund, return dark color
    } @else {
      color: #ffffff; // Darker background, return light color
    }

    &.-action {
      border-bottom: 6px solid darken(map-get($colors, $name), 20%);

      &:hover {
        background-color: lighten(map-get($colors, $name), 5%);
      }

    }

    &:hover {
      background-color: lighten(map-get($colors, $name), 10%);
    }

  }

}

// /*=====  End of Colors  ======*/

