.fera-form {
  @extend .-baby;

  .form-input, .form-select, .form-checkbox, .form-radio {
    width: 100%;
    display: block;
    @include transition(box-shadow, border, background);
    box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0);
    border-radius: 5px;

    &:hover, &:focus {
      box-shadow: 2px 2px 18px 1px rgba(black, 0.15);
    }

  }

  .form-label {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    @include rem(margin-bottom, 15px);
    display: block;
    @include transition(color);
  }

  .form-input {
    padding: 20px 15px;
    border: 2px solid map-get($colors, void);
    font-size: 18px;
    color: map-get($colors, darkness);
    width: 100%;
    font-weight: 300;

    @include input-placeholder {
      font-size: 18px;
      color: map-get($colors, mellow);
    }

  }

  .form-select {
    padding: 17px 15px;
    padding-right: 100px;
    border: 2px solid map-get($colors, void);
    font-family: "Open Sans";
    appearance: none;
    font-size: 18px;
    font-weight: 300;
    background-color: #fff;
    color: map-get($colors, darkness);
  }

  .form-checkbox {
    @include rem(width, 50px);
    @include rem(height, 50px);
    appearance: none;
    border: 2px solid map-get($colors, void);
    background: #fff image-url("checkbox-off.png") center center no-repeat;
  }

  .form-radio {
    @include rem(width, 30px);
    @include rem(height, 30px);
    appearance: none;
    border: 2px solid map-get($colors, void);
    border-radius: 9999px;
  }

  textarea.form-input {
    height: 100px;
  }

  .select-container {
    position: relative;

    &::after {
      content: "";
      background-image: image-url("select-icon.svg");
      @include rem(width, 28px);
      @include rem(height, 15px);
      background-size: cover;
      position: absolute;
      z-index: 10;
      position: absolute;
      @include align('vertical');
      @include rem(right, 20px);
      filter: invert(100%);
    }

    &:hover {

      &::after {
        filter: invert(0%)!important;
      }

    }

  }

  /*=============================
  =            Theme            =
  =============================*/

  @include theme {

    .form-input, .form-select, .form-checkbox, .form-radio {

      &:hover, &:focus {
        box-shadow: 2px 2px 18px 1px rgba($color, 0.15);
        border-color: $color;
      }

    }

    .form-select {

      &:hover {
        background-color: $color;
        color: white;
      }

    }

    .form-radio:checked {
      border-color: $color;
      background: $color;
    }

    .form-checkbox {

      &:checked {
        border-color: $color;
        background: $color image-url("checkbox-on.png") center center no-repeat;
      }

    }

  }

  /*=====  End of Theme  ======*/


}