.fera-horizontal-list {

  > .item {
    @include rem(margin-bottom, 10px);

    > .item-title {
      font-size: 16px;
      font-family: "Open Sans";
      font-weight: 700;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        @include rem(margin-bottom, 20px);
        background: $fera-rainbow;
      }

    }

  }

  /*=============================
  =            Theme            =
  =============================*/

  @include theme {

    > .item {

      > .item-title {

        &::before {
          background: $color;
        }

      }

    }

  }

  /*=====  End of Theme  ======*/


}