.fera-paragraph {
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans';
  line-height: 1.52;
  margin-bottom: 1.67em;
  @extend .-salmon;

  @media #{$tablet} {
    font-size: 19px;
  }

  @media #{$desktop} {
    font-size: 21px;
  }

  a {
    text-decoration: underline;
  }

  @include theme {

    > strong, > a {
      color: $color;
    }

  }

}