%title-1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  @include rem(margin-bottom, 20px);
}

%title-2 {
  @include rem(font-size, 25px);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "oswald";
  @include rem(margin-bottom, 20px);
}