.fera-top-article {
  @include rem(max-width, 800px);
  font-family: "Open Sans";
  color: map-get($colors, darkness);

  .article-intro {
    font-size: 19px;
    font-weight: 500;
    color: map-get($colors, mellow);
    line-height: 1.3;
  }

  .article-author {
    @include rem(margin-top, 60px);
    color: map-get($colors, darkness);
    font-size: 16px;
    font-weight: 400;

    img {
      @include rem(width, 90px);
      @include rem(height, 90px);
      border-radius: 9999px;
    }

    span.date {
      color: map-get($colors, mellow);
    }

  }

  .article-title {
    @include rem(font-size, 48px);
    line-height: 1.50;
    font-weight: 600;
    @include rem(margin-bottom, 35px);
  }

}