.fera-topics {
  counter-reset: topics;

  .topic {

    &::before {
      counter-increment: topics;
      content: counter(topics, decimal-leading-zero);
      color: #bbbbbb;
      font-size: 14px;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 15px;
      display: block;
      font-weight: 300;
    }

  }

  .topic-title {
    @extend %title-1;
  }

  .topic-content {
    font-size: 15px;
    color: #9e9e9e;
    line-height: 1.6;
  }

  /*===============================
  =            Theming            =
  ===============================*/

  @include theme {

    > .topic > .topic-title {
      color: $color;
    }

  }

  /*=====  End of Theming  ======*/


}