* {
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  max-width: 1280px;
  margin: 0 auto;
  background-color: darken(white, 4%);
  counter-reset: title;
}

// html {
//   @include viewport-unit(font-size, 9, 320, "vw");

//   @media #{$tablet} {
//     @include viewport-unit(font-size, 13, 1024, "vw");
//   }
// }


.fera-module{
  @include rem(margin-bottom, 60px);
  @include responsive-property(padding, $s: 30, $t: 40, $d: 60);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.1);
}

strong {
  font-weight: 600;
}