@font-face {
    font-family: 'brandon';
    src: font-url('brandon_bld_it-webfont.woff2') format('woff2'),
         font-url('brandon_bld_it-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_bld-webfont.woff2') format('woff2'),
         font-url('brandon_bld-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_blk_it-webfont.woff2') format('woff2'),
         font-url('brandon_blk_it-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_blk-webfont.woff2') format('woff2'),
         font-url('brandon_blk-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_light_it-webfont.woff2') format('woff2'),
         font-url('brandon_light_it-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_light-webfont.woff2') format('woff2'),
         font-url('brandon_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_med_it-webfont.woff2') format('woff2'),
         font-url('brandon_med_it-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_med-webfont.woff2') format('woff2'),
         font-url('brandon_med-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_reg_it-webfont.woff2') format('woff2'),
         font-url('brandon_reg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_reg-webfont.woff2') format('woff2'),
         font-url('brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_thin_it-webfont.woff2') format('woff2'),
         font-url('brandon_thin_it-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'brandon';
    src: font-url('brandon_thin-webfont.woff2') format('woff2'),
         font-url('brandon_thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
