/*===============================
=            Compass            =
===============================*/
/*=====  End of Compass  ======*/
/*=================================
=            Utilities            =
=================================*/
/*=====================================
=            Media Queries            =
=====================================*/
/*=====  End of Media Queries  ======*/
/*=============================
=            Fonts            =
=============================*/
/*=====  End of Fonts  ======*/
/*===========================
=            REM            =
===========================*/
/*=====  End of REM  ======*/
/*===========================
=            REM            =
===========================*/
/*=====  End of REM  ======*/
/*==================================
=            Responsive            =
==================================*/
/*=====  End of Responsive  ======*/
/*===========================
=            REM            =
===========================*/
/*=====  End of REM  ======*/
.hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*===============================
=            Modules            =
===============================*/
.d-block {
  display: block;
}

@media (max-width: 699px) {
  .d-block\@smartphone {
    display: block;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .d-block\@tablet {
    display: block;
  }
}
@media (min-width: 1025px) {
  .d-block\@desktop {
    display: block;
  }
}
.d-inline-block {
  display: inline-block;
}

@media (max-width: 699px) {
  .d-inline-block\@smartphone {
    display: inline-block;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .d-inline-block\@tablet {
    display: inline-block;
  }
}
@media (min-width: 1025px) {
  .d-inline-block\@desktop {
    display: inline-block;
  }
}
.d-none {
  display: none;
}

@media (max-width: 699px) {
  .d-none\@smartphone {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .d-none\@tablet {
    display: none;
  }
}
@media (min-width: 1025px) {
  .d-none\@desktop {
    display: none;
  }
}
img {
  -ms-interpolation-mode: bicubic;
  interpolation-mode: bicubic;
}

.m-left-1 {
  margin-left: 0.625rem;
}

@media (max-width: 699px) {
  .m-left-1\@smartphone {
    margin-left: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-1\@tablet {
    margin-left: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .m-left-1\@desktop {
    margin-left: 0.625rem;
  }
}
.m-left-2 {
  margin-left: 1.25rem;
}

@media (max-width: 699px) {
  .m-left-2\@smartphone {
    margin-left: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-2\@tablet {
    margin-left: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .m-left-2\@desktop {
    margin-left: 1.25rem;
  }
}
.m-left-3 {
  margin-left: 1.875rem;
}

@media (max-width: 699px) {
  .m-left-3\@smartphone {
    margin-left: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-3\@tablet {
    margin-left: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .m-left-3\@desktop {
    margin-left: 1.875rem;
  }
}
.m-left-4 {
  margin-left: 2.5rem;
}

@media (max-width: 699px) {
  .m-left-4\@smartphone {
    margin-left: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-4\@tablet {
    margin-left: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .m-left-4\@desktop {
    margin-left: 2.5rem;
  }
}
.m-left-5 {
  margin-left: 3.125rem;
}

@media (max-width: 699px) {
  .m-left-5\@smartphone {
    margin-left: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-5\@tablet {
    margin-left: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .m-left-5\@desktop {
    margin-left: 3.125rem;
  }
}
.m-left-6 {
  margin-left: 3.75rem;
}

@media (max-width: 699px) {
  .m-left-6\@smartphone {
    margin-left: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-6\@tablet {
    margin-left: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .m-left-6\@desktop {
    margin-left: 3.75rem;
  }
}
.m-left-7 {
  margin-left: 4.375rem;
}

@media (max-width: 699px) {
  .m-left-7\@smartphone {
    margin-left: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-7\@tablet {
    margin-left: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .m-left-7\@desktop {
    margin-left: 4.375rem;
  }
}
.m-left-8 {
  margin-left: 5rem;
}

@media (max-width: 699px) {
  .m-left-8\@smartphone {
    margin-left: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-8\@tablet {
    margin-left: 5rem;
  }
}
@media (min-width: 1025px) {
  .m-left-8\@desktop {
    margin-left: 5rem;
  }
}
.m-left-9 {
  margin-left: 5.625rem;
}

@media (max-width: 699px) {
  .m-left-9\@smartphone {
    margin-left: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-9\@tablet {
    margin-left: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .m-left-9\@desktop {
    margin-left: 5.625rem;
  }
}
.m-left-10 {
  margin-left: 6.25rem;
}

@media (max-width: 699px) {
  .m-left-10\@smartphone {
    margin-left: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-left-10\@tablet {
    margin-left: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .m-left-10\@desktop {
    margin-left: 6.25rem;
  }
}
.m-right-1 {
  margin-right: 0.625rem;
}

@media (max-width: 699px) {
  .m-right-1\@smartphone {
    margin-right: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-1\@tablet {
    margin-right: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .m-right-1\@desktop {
    margin-right: 0.625rem;
  }
}
.m-right-2 {
  margin-right: 1.25rem;
}

@media (max-width: 699px) {
  .m-right-2\@smartphone {
    margin-right: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-2\@tablet {
    margin-right: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .m-right-2\@desktop {
    margin-right: 1.25rem;
  }
}
.m-right-3 {
  margin-right: 1.875rem;
}

@media (max-width: 699px) {
  .m-right-3\@smartphone {
    margin-right: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-3\@tablet {
    margin-right: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .m-right-3\@desktop {
    margin-right: 1.875rem;
  }
}
.m-right-4 {
  margin-right: 2.5rem;
}

@media (max-width: 699px) {
  .m-right-4\@smartphone {
    margin-right: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-4\@tablet {
    margin-right: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .m-right-4\@desktop {
    margin-right: 2.5rem;
  }
}
.m-right-5 {
  margin-right: 3.125rem;
}

@media (max-width: 699px) {
  .m-right-5\@smartphone {
    margin-right: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-5\@tablet {
    margin-right: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .m-right-5\@desktop {
    margin-right: 3.125rem;
  }
}
.m-right-6 {
  margin-right: 3.75rem;
}

@media (max-width: 699px) {
  .m-right-6\@smartphone {
    margin-right: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-6\@tablet {
    margin-right: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .m-right-6\@desktop {
    margin-right: 3.75rem;
  }
}
.m-right-7 {
  margin-right: 4.375rem;
}

@media (max-width: 699px) {
  .m-right-7\@smartphone {
    margin-right: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-7\@tablet {
    margin-right: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .m-right-7\@desktop {
    margin-right: 4.375rem;
  }
}
.m-right-8 {
  margin-right: 5rem;
}

@media (max-width: 699px) {
  .m-right-8\@smartphone {
    margin-right: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-8\@tablet {
    margin-right: 5rem;
  }
}
@media (min-width: 1025px) {
  .m-right-8\@desktop {
    margin-right: 5rem;
  }
}
.m-right-9 {
  margin-right: 5.625rem;
}

@media (max-width: 699px) {
  .m-right-9\@smartphone {
    margin-right: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-9\@tablet {
    margin-right: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .m-right-9\@desktop {
    margin-right: 5.625rem;
  }
}
.m-right-10 {
  margin-right: 6.25rem;
}

@media (max-width: 699px) {
  .m-right-10\@smartphone {
    margin-right: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-right-10\@tablet {
    margin-right: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .m-right-10\@desktop {
    margin-right: 6.25rem;
  }
}
.m-top-1 {
  margin-top: 0.625rem;
}

@media (max-width: 699px) {
  .m-top-1\@smartphone {
    margin-top: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-1\@tablet {
    margin-top: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .m-top-1\@desktop {
    margin-top: 0.625rem;
  }
}
.m-top-2 {
  margin-top: 1.25rem;
}

@media (max-width: 699px) {
  .m-top-2\@smartphone {
    margin-top: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-2\@tablet {
    margin-top: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .m-top-2\@desktop {
    margin-top: 1.25rem;
  }
}
.m-top-3 {
  margin-top: 1.875rem;
}

@media (max-width: 699px) {
  .m-top-3\@smartphone {
    margin-top: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-3\@tablet {
    margin-top: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .m-top-3\@desktop {
    margin-top: 1.875rem;
  }
}
.m-top-4 {
  margin-top: 2.5rem;
}

@media (max-width: 699px) {
  .m-top-4\@smartphone {
    margin-top: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-4\@tablet {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .m-top-4\@desktop {
    margin-top: 2.5rem;
  }
}
.m-top-5 {
  margin-top: 3.125rem;
}

@media (max-width: 699px) {
  .m-top-5\@smartphone {
    margin-top: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-5\@tablet {
    margin-top: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .m-top-5\@desktop {
    margin-top: 3.125rem;
  }
}
.m-top-6 {
  margin-top: 3.75rem;
}

@media (max-width: 699px) {
  .m-top-6\@smartphone {
    margin-top: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-6\@tablet {
    margin-top: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .m-top-6\@desktop {
    margin-top: 3.75rem;
  }
}
.m-top-7 {
  margin-top: 4.375rem;
}

@media (max-width: 699px) {
  .m-top-7\@smartphone {
    margin-top: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-7\@tablet {
    margin-top: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .m-top-7\@desktop {
    margin-top: 4.375rem;
  }
}
.m-top-8 {
  margin-top: 5rem;
}

@media (max-width: 699px) {
  .m-top-8\@smartphone {
    margin-top: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-8\@tablet {
    margin-top: 5rem;
  }
}
@media (min-width: 1025px) {
  .m-top-8\@desktop {
    margin-top: 5rem;
  }
}
.m-top-9 {
  margin-top: 5.625rem;
}

@media (max-width: 699px) {
  .m-top-9\@smartphone {
    margin-top: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-9\@tablet {
    margin-top: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .m-top-9\@desktop {
    margin-top: 5.625rem;
  }
}
.m-top-10 {
  margin-top: 6.25rem;
}

@media (max-width: 699px) {
  .m-top-10\@smartphone {
    margin-top: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-top-10\@tablet {
    margin-top: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .m-top-10\@desktop {
    margin-top: 6.25rem;
  }
}
.m-bottom-1 {
  margin-bottom: 0.625rem;
}

@media (max-width: 699px) {
  .m-bottom-1\@smartphone {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-1\@tablet {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-1\@desktop {
    margin-bottom: 0.625rem;
  }
}
.m-bottom-2 {
  margin-bottom: 1.25rem;
}

@media (max-width: 699px) {
  .m-bottom-2\@smartphone {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-2\@tablet {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-2\@desktop {
    margin-bottom: 1.25rem;
  }
}
.m-bottom-3 {
  margin-bottom: 1.875rem;
}

@media (max-width: 699px) {
  .m-bottom-3\@smartphone {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-3\@tablet {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-3\@desktop {
    margin-bottom: 1.875rem;
  }
}
.m-bottom-4 {
  margin-bottom: 2.5rem;
}

@media (max-width: 699px) {
  .m-bottom-4\@smartphone {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-4\@tablet {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-4\@desktop {
    margin-bottom: 2.5rem;
  }
}
.m-bottom-5 {
  margin-bottom: 3.125rem;
}

@media (max-width: 699px) {
  .m-bottom-5\@smartphone {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-5\@tablet {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-5\@desktop {
    margin-bottom: 3.125rem;
  }
}
.m-bottom-6 {
  margin-bottom: 3.75rem;
}

@media (max-width: 699px) {
  .m-bottom-6\@smartphone {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-6\@tablet {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-6\@desktop {
    margin-bottom: 3.75rem;
  }
}
.m-bottom-7 {
  margin-bottom: 4.375rem;
}

@media (max-width: 699px) {
  .m-bottom-7\@smartphone {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-7\@tablet {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-7\@desktop {
    margin-bottom: 4.375rem;
  }
}
.m-bottom-8 {
  margin-bottom: 5rem;
}

@media (max-width: 699px) {
  .m-bottom-8\@smartphone {
    margin-bottom: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-8\@tablet {
    margin-bottom: 5rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-8\@desktop {
    margin-bottom: 5rem;
  }
}
.m-bottom-9 {
  margin-bottom: 5.625rem;
}

@media (max-width: 699px) {
  .m-bottom-9\@smartphone {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-9\@tablet {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-9\@desktop {
    margin-bottom: 5.625rem;
  }
}
.m-bottom-10 {
  margin-bottom: 6.25rem;
}

@media (max-width: 699px) {
  .m-bottom-10\@smartphone {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .m-bottom-10\@tablet {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .m-bottom-10\@desktop {
    margin-bottom: 6.25rem;
  }
}
.p-left-1 {
  padding-left: 0.625rem;
}

@media (max-width: 699px) {
  .p-left-1\@smartphone {
    padding-left: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-1\@tablet {
    padding-left: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .p-left-1\@desktop {
    padding-left: 0.625rem;
  }
}
.p-left-2 {
  padding-left: 1.25rem;
}

@media (max-width: 699px) {
  .p-left-2\@smartphone {
    padding-left: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-2\@tablet {
    padding-left: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .p-left-2\@desktop {
    padding-left: 1.25rem;
  }
}
.p-left-3 {
  padding-left: 1.875rem;
}

@media (max-width: 699px) {
  .p-left-3\@smartphone {
    padding-left: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-3\@tablet {
    padding-left: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .p-left-3\@desktop {
    padding-left: 1.875rem;
  }
}
.p-left-4 {
  padding-left: 2.5rem;
}

@media (max-width: 699px) {
  .p-left-4\@smartphone {
    padding-left: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-4\@tablet {
    padding-left: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .p-left-4\@desktop {
    padding-left: 2.5rem;
  }
}
.p-left-5 {
  padding-left: 3.125rem;
}

@media (max-width: 699px) {
  .p-left-5\@smartphone {
    padding-left: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-5\@tablet {
    padding-left: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .p-left-5\@desktop {
    padding-left: 3.125rem;
  }
}
.p-left-6 {
  padding-left: 3.75rem;
}

@media (max-width: 699px) {
  .p-left-6\@smartphone {
    padding-left: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-6\@tablet {
    padding-left: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .p-left-6\@desktop {
    padding-left: 3.75rem;
  }
}
.p-left-7 {
  padding-left: 4.375rem;
}

@media (max-width: 699px) {
  .p-left-7\@smartphone {
    padding-left: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-7\@tablet {
    padding-left: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .p-left-7\@desktop {
    padding-left: 4.375rem;
  }
}
.p-left-8 {
  padding-left: 5rem;
}

@media (max-width: 699px) {
  .p-left-8\@smartphone {
    padding-left: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-8\@tablet {
    padding-left: 5rem;
  }
}
@media (min-width: 1025px) {
  .p-left-8\@desktop {
    padding-left: 5rem;
  }
}
.p-left-9 {
  padding-left: 5.625rem;
}

@media (max-width: 699px) {
  .p-left-9\@smartphone {
    padding-left: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-9\@tablet {
    padding-left: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .p-left-9\@desktop {
    padding-left: 5.625rem;
  }
}
.p-left-10 {
  padding-left: 6.25rem;
}

@media (max-width: 699px) {
  .p-left-10\@smartphone {
    padding-left: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-left-10\@tablet {
    padding-left: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .p-left-10\@desktop {
    padding-left: 6.25rem;
  }
}
.p-right-1 {
  padding-right: 0.625rem;
}

@media (max-width: 699px) {
  .p-right-1\@smartphone {
    padding-right: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-1\@tablet {
    padding-right: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .p-right-1\@desktop {
    padding-right: 0.625rem;
  }
}
.p-right-2 {
  padding-right: 1.25rem;
}

@media (max-width: 699px) {
  .p-right-2\@smartphone {
    padding-right: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-2\@tablet {
    padding-right: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .p-right-2\@desktop {
    padding-right: 1.25rem;
  }
}
.p-right-3 {
  padding-right: 1.875rem;
}

@media (max-width: 699px) {
  .p-right-3\@smartphone {
    padding-right: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-3\@tablet {
    padding-right: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .p-right-3\@desktop {
    padding-right: 1.875rem;
  }
}
.p-right-4 {
  padding-right: 2.5rem;
}

@media (max-width: 699px) {
  .p-right-4\@smartphone {
    padding-right: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-4\@tablet {
    padding-right: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .p-right-4\@desktop {
    padding-right: 2.5rem;
  }
}
.p-right-5 {
  padding-right: 3.125rem;
}

@media (max-width: 699px) {
  .p-right-5\@smartphone {
    padding-right: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-5\@tablet {
    padding-right: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .p-right-5\@desktop {
    padding-right: 3.125rem;
  }
}
.p-right-6 {
  padding-right: 3.75rem;
}

@media (max-width: 699px) {
  .p-right-6\@smartphone {
    padding-right: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-6\@tablet {
    padding-right: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .p-right-6\@desktop {
    padding-right: 3.75rem;
  }
}
.p-right-7 {
  padding-right: 4.375rem;
}

@media (max-width: 699px) {
  .p-right-7\@smartphone {
    padding-right: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-7\@tablet {
    padding-right: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .p-right-7\@desktop {
    padding-right: 4.375rem;
  }
}
.p-right-8 {
  padding-right: 5rem;
}

@media (max-width: 699px) {
  .p-right-8\@smartphone {
    padding-right: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-8\@tablet {
    padding-right: 5rem;
  }
}
@media (min-width: 1025px) {
  .p-right-8\@desktop {
    padding-right: 5rem;
  }
}
.p-right-9 {
  padding-right: 5.625rem;
}

@media (max-width: 699px) {
  .p-right-9\@smartphone {
    padding-right: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-9\@tablet {
    padding-right: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .p-right-9\@desktop {
    padding-right: 5.625rem;
  }
}
.p-right-10 {
  padding-right: 6.25rem;
}

@media (max-width: 699px) {
  .p-right-10\@smartphone {
    padding-right: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-right-10\@tablet {
    padding-right: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .p-right-10\@desktop {
    padding-right: 6.25rem;
  }
}
.p-top-1 {
  padding-top: 0.625rem;
}

@media (max-width: 699px) {
  .p-top-1\@smartphone {
    padding-top: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-1\@tablet {
    padding-top: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .p-top-1\@desktop {
    padding-top: 0.625rem;
  }
}
.p-top-2 {
  padding-top: 1.25rem;
}

@media (max-width: 699px) {
  .p-top-2\@smartphone {
    padding-top: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-2\@tablet {
    padding-top: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .p-top-2\@desktop {
    padding-top: 1.25rem;
  }
}
.p-top-3 {
  padding-top: 1.875rem;
}

@media (max-width: 699px) {
  .p-top-3\@smartphone {
    padding-top: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-3\@tablet {
    padding-top: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .p-top-3\@desktop {
    padding-top: 1.875rem;
  }
}
.p-top-4 {
  padding-top: 2.5rem;
}

@media (max-width: 699px) {
  .p-top-4\@smartphone {
    padding-top: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-4\@tablet {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .p-top-4\@desktop {
    padding-top: 2.5rem;
  }
}
.p-top-5 {
  padding-top: 3.125rem;
}

@media (max-width: 699px) {
  .p-top-5\@smartphone {
    padding-top: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-5\@tablet {
    padding-top: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .p-top-5\@desktop {
    padding-top: 3.125rem;
  }
}
.p-top-6 {
  padding-top: 3.75rem;
}

@media (max-width: 699px) {
  .p-top-6\@smartphone {
    padding-top: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-6\@tablet {
    padding-top: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .p-top-6\@desktop {
    padding-top: 3.75rem;
  }
}
.p-top-7 {
  padding-top: 4.375rem;
}

@media (max-width: 699px) {
  .p-top-7\@smartphone {
    padding-top: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-7\@tablet {
    padding-top: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .p-top-7\@desktop {
    padding-top: 4.375rem;
  }
}
.p-top-8 {
  padding-top: 5rem;
}

@media (max-width: 699px) {
  .p-top-8\@smartphone {
    padding-top: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-8\@tablet {
    padding-top: 5rem;
  }
}
@media (min-width: 1025px) {
  .p-top-8\@desktop {
    padding-top: 5rem;
  }
}
.p-top-9 {
  padding-top: 5.625rem;
}

@media (max-width: 699px) {
  .p-top-9\@smartphone {
    padding-top: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-9\@tablet {
    padding-top: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .p-top-9\@desktop {
    padding-top: 5.625rem;
  }
}
.p-top-10 {
  padding-top: 6.25rem;
}

@media (max-width: 699px) {
  .p-top-10\@smartphone {
    padding-top: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-top-10\@tablet {
    padding-top: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .p-top-10\@desktop {
    padding-top: 6.25rem;
  }
}
.p-bottom-1 {
  padding-bottom: 0.625rem;
}

@media (max-width: 699px) {
  .p-bottom-1\@smartphone {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-1\@tablet {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-1\@desktop {
    padding-bottom: 0.625rem;
  }
}
.p-bottom-2 {
  padding-bottom: 1.25rem;
}

@media (max-width: 699px) {
  .p-bottom-2\@smartphone {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-2\@tablet {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-2\@desktop {
    padding-bottom: 1.25rem;
  }
}
.p-bottom-3 {
  padding-bottom: 1.875rem;
}

@media (max-width: 699px) {
  .p-bottom-3\@smartphone {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-3\@tablet {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-3\@desktop {
    padding-bottom: 1.875rem;
  }
}
.p-bottom-4 {
  padding-bottom: 2.5rem;
}

@media (max-width: 699px) {
  .p-bottom-4\@smartphone {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-4\@tablet {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-4\@desktop {
    padding-bottom: 2.5rem;
  }
}
.p-bottom-5 {
  padding-bottom: 3.125rem;
}

@media (max-width: 699px) {
  .p-bottom-5\@smartphone {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-5\@tablet {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-5\@desktop {
    padding-bottom: 3.125rem;
  }
}
.p-bottom-6 {
  padding-bottom: 3.75rem;
}

@media (max-width: 699px) {
  .p-bottom-6\@smartphone {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-6\@tablet {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-6\@desktop {
    padding-bottom: 3.75rem;
  }
}
.p-bottom-7 {
  padding-bottom: 4.375rem;
}

@media (max-width: 699px) {
  .p-bottom-7\@smartphone {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-7\@tablet {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-7\@desktop {
    padding-bottom: 4.375rem;
  }
}
.p-bottom-8 {
  padding-bottom: 5rem;
}

@media (max-width: 699px) {
  .p-bottom-8\@smartphone {
    padding-bottom: 5rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-8\@tablet {
    padding-bottom: 5rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-8\@desktop {
    padding-bottom: 5rem;
  }
}
.p-bottom-9 {
  padding-bottom: 5.625rem;
}

@media (max-width: 699px) {
  .p-bottom-9\@smartphone {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-9\@tablet {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-9\@desktop {
    padding-bottom: 5.625rem;
  }
}
.p-bottom-10 {
  padding-bottom: 6.25rem;
}

@media (max-width: 699px) {
  .p-bottom-10\@smartphone {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .p-bottom-10\@tablet {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 1025px) {
  .p-bottom-10\@desktop {
    padding-bottom: 6.25rem;
  }
}
/*============================
=            Base            =
============================*/
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*:focus, *:hover {
  outline: 0;
}

html {
  font-size: 14px;
  font-size: 3.38164vw;
}
@media (min-width: 700px) {
  html {
    font-size: 14px;
    font-size: 1.36719vw;
  }
}
@media (min-width: 1025px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}

/*==================================
=            Variations            =
==================================*/
.layout-group.-vertical-centered {
  align-items: center;
}

.layout-group.-horizontal-centered {
  justify-content: center;
}

.layout-group.-horizontal-justified {
  justify-content: space-between;
}

.layout-group.-small {
  margin: -0.3125rem !important;
}
.layout-group.-small > .division {
  padding: 0.3125rem !important;
}

.layout-group.-medium {
  margin: -0.625rem !important;
}
.layout-group.-medium > .division {
  padding: 0.625rem !important;
}

.layout-group.-medium {
  margin: -0.625rem;
}
.layout-group.-medium .division {
  padding: 0.625rem;
}

/*=====  End of Variations  ======*/
/*==============================
=            Orders            =
==============================*/
.-important\-1 {
  order: 1;
}

@media (max-width: 699px) {
  .-important\-1\@smartphone {
    order: 1;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .-important\-1\@tablet {
    order: 1;
  }
}

@media (min-width: 1025px) {
  .-important\-1\@desktop {
    order: 1;
  }
}

.-important\-2 {
  order: 2;
}

@media (max-width: 699px) {
  .-important\-2\@smartphone {
    order: 2;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .-important\-2\@tablet {
    order: 2;
  }
}

@media (min-width: 1025px) {
  .-important\-2\@desktop {
    order: 2;
  }
}

.-important\-3 {
  order: 3;
}

@media (max-width: 699px) {
  .-important\-3\@smartphone {
    order: 3;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .-important\-3\@tablet {
    order: 3;
  }
}

@media (min-width: 1025px) {
  .-important\-3\@desktop {
    order: 3;
  }
}

.-important\-4 {
  order: 4;
}

@media (max-width: 699px) {
  .-important\-4\@smartphone {
    order: 4;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .-important\-4\@tablet {
    order: 4;
  }
}

@media (min-width: 1025px) {
  .-important\-4\@desktop {
    order: 4;
  }
}

.-important\-5 {
  order: 5;
}

@media (max-width: 699px) {
  .-important\-5\@smartphone {
    order: 5;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .-important\-5\@tablet {
    order: 5;
  }
}

@media (min-width: 1025px) {
  .-important\-5\@desktop {
    order: 5;
  }
}

/*=====  End of Orders  ======*/
.division {
  flex: 1 1 auto;
  padding: 1.5625rem;
}
.layout-group.-mobile > .division.-narrow {
  flex: none;
}
.layout-group.-mobile > .division.-full {
  flex: none;
  width: 100%;
}
.layout-group.-mobile > .division.-three-quarters {
  flex: none;
  width: 75%;
}
.layout-group.-mobile > .division.-two-thirds {
  flex: none;
  width: 66.6666%;
}
.layout-group.-mobile > .division.-half {
  flex: none;
  width: 50%;
}
.layout-group.-mobile > .division.-one-third {
  flex: none;
  width: 33.3333%;
}
.layout-group.-mobile > .division.-one-quarter {
  flex: none;
  width: 25%;
}
.layout-group.-mobile > .division.-offset-three-quarters {
  margin-left: 75%;
}
.layout-group.-mobile > .division.-offset-two-thirds {
  margin-left: 66.6666%;
}
.layout-group.-mobile > .division.-offset-half {
  margin-left: 50%;
}
.layout-group.-mobile > .division.-offset-one-third {
  margin-left: 33.3333%;
}
.layout-group.-mobile > .division.-offset-one-quarter {
  margin-left: 25%;
}
.layout-group.-mobile > .division.\-1 {
  flex: none;
  width: 8.33333%;
}
.layout-group.-mobile > .division.-offset\-1 {
  margin-left: 8.33333%;
}
.layout-group.-mobile > .division.\-2 {
  flex: none;
  width: 16.66667%;
}
.layout-group.-mobile > .division.-offset\-2 {
  margin-left: 16.66667%;
}
.layout-group.-mobile > .division.\-3 {
  flex: none;
  width: 25%;
}
.layout-group.-mobile > .division.-offset\-3 {
  margin-left: 25%;
}
.layout-group.-mobile > .division.\-4 {
  flex: none;
  width: 33.33333%;
}
.layout-group.-mobile > .division.-offset\-4 {
  margin-left: 33.33333%;
}
.layout-group.-mobile > .division.\-5 {
  flex: none;
  width: 41.66667%;
}
.layout-group.-mobile > .division.-offset\-5 {
  margin-left: 41.66667%;
}
.layout-group.-mobile > .division.\-6 {
  flex: none;
  width: 50%;
}
.layout-group.-mobile > .division.-offset\-6 {
  margin-left: 50%;
}
.layout-group.-mobile > .division.\-7 {
  flex: none;
  width: 58.33333%;
}
.layout-group.-mobile > .division.-offset\-7 {
  margin-left: 58.33333%;
}
.layout-group.-mobile > .division.\-8 {
  flex: none;
  width: 66.66667%;
}
.layout-group.-mobile > .division.-offset\-8 {
  margin-left: 66.66667%;
}
.layout-group.-mobile > .division.\-9 {
  flex: none;
  width: 75%;
}
.layout-group.-mobile > .division.-offset\-9 {
  margin-left: 75%;
}
.layout-group.-mobile > .division.\-10 {
  flex: none;
  width: 83.33333%;
}
.layout-group.-mobile > .division.-offset\-10 {
  margin-left: 83.33333%;
}
.layout-group.-mobile > .division.\-11 {
  flex: none;
  width: 91.66667%;
}
.layout-group.-mobile > .division.-offset\-11 {
  margin-left: 91.66667%;
}
.layout-group.-mobile > .division.\-12 {
  flex: none;
  width: 100%;
}
.layout-group.-mobile > .division.-offset\-12 {
  margin-left: 100%;
}
@media (max-width: 699px) {
  .division.-narrow-mobile {
    flex: none;
  }
  .division.-full-mobile {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-mobile {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-mobile {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-mobile {
    flex: none;
    width: 50%;
  }
  .division.-one-third-mobile {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-mobile {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-mobile {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-mobile {
    margin-left: 66.6666%;
  }
  .division.-offset-half-mobile {
    margin-left: 50%;
  }
  .division.-offset-one-third-mobile {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-mobile {
    margin-left: 25%;
  }
  .division.\-1-mobile {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-mobile {
    margin-left: 8.33333%;
  }
  .division.\-2-mobile {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-mobile {
    margin-left: 16.66667%;
  }
  .division.\-3-mobile {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-mobile {
    margin-left: 25%;
  }
  .division.\-4-mobile {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-mobile {
    margin-left: 33.33333%;
  }
  .division.\-5-mobile {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-mobile {
    margin-left: 41.66667%;
  }
  .division.\-6-mobile {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-mobile {
    margin-left: 50%;
  }
  .division.\-7-mobile {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-mobile {
    margin-left: 58.33333%;
  }
  .division.\-8-mobile {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-mobile {
    margin-left: 66.66667%;
  }
  .division.\-9-mobile {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-mobile {
    margin-left: 75%;
  }
  .division.\-10-mobile {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-mobile {
    margin-left: 83.33333%;
  }
  .division.\-11-mobile {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-mobile {
    margin-left: 91.66667%;
  }
  .division.\-12-mobile {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-mobile {
    margin-left: 100%;
  }
}
@media (min-width: 700px) {
  .division.-narrow, .division.-narrow-tablet {
    flex: none;
  }
  .division.-full, .division.-full-tablet {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters, .division.-three-quarters-tablet {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds, .division.-two-thirds-tablet {
    flex: none;
    width: 66.6666%;
  }
  .division.-half, .division.-half-tablet {
    flex: none;
    width: 50%;
  }
  .division.-one-third, .division.-one-third-tablet {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter, .division.-one-quarter-tablet {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters, .division.-offset-three-quarters-tablet {
    margin-left: 75%;
  }
  .division.-offset-two-thirds, .division.-offset-two-thirds-tablet {
    margin-left: 66.6666%;
  }
  .division.-offset-half, .division.-offset-half-tablet {
    margin-left: 50%;
  }
  .division.-offset-one-third, .division.-offset-one-third-tablet {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter, .division.-offset-one-quarter-tablet {
    margin-left: 25%;
  }
  .division.\-1, .division.\-1-tablet {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1, .division.-offset\-1-tablet {
    margin-left: 8.33333%;
  }
  .division.\-2, .division.\-2-tablet {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2, .division.-offset\-2-tablet {
    margin-left: 16.66667%;
  }
  .division.\-3, .division.\-3-tablet {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3, .division.-offset\-3-tablet {
    margin-left: 25%;
  }
  .division.\-4, .division.\-4-tablet {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4, .division.-offset\-4-tablet {
    margin-left: 33.33333%;
  }
  .division.\-5, .division.\-5-tablet {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5, .division.-offset\-5-tablet {
    margin-left: 41.66667%;
  }
  .division.\-6, .division.\-6-tablet {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6, .division.-offset\-6-tablet {
    margin-left: 50%;
  }
  .division.\-7, .division.\-7-tablet {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7, .division.-offset\-7-tablet {
    margin-left: 58.33333%;
  }
  .division.\-8, .division.\-8-tablet {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8, .division.-offset\-8-tablet {
    margin-left: 66.66667%;
  }
  .division.\-9, .division.\-9-tablet {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9, .division.-offset\-9-tablet {
    margin-left: 75%;
  }
  .division.\-10, .division.\-10-tablet {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10, .division.-offset\-10-tablet {
    margin-left: 83.33333%;
  }
  .division.\-11, .division.\-11-tablet {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11, .division.-offset\-11-tablet {
    margin-left: 91.66667%;
  }
  .division.\-12, .division.\-12-tablet {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12, .division.-offset\-12-tablet {
    margin-left: 100%;
  }
}
@media (min-width: 1025px) {
  .division.-narrow-desktop {
    flex: none;
  }
  .division.-full-desktop {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-desktop {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-desktop {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-desktop {
    flex: none;
    width: 50%;
  }
  .division.-one-third-desktop {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-desktop {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-desktop {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-desktop {
    margin-left: 66.6666%;
  }
  .division.-offset-half-desktop {
    margin-left: 50%;
  }
  .division.-offset-one-third-desktop {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-desktop {
    margin-left: 25%;
  }
  .division.\-1-desktop {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-desktop {
    margin-left: 8.33333%;
  }
  .division.\-2-desktop {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-desktop {
    margin-left: 16.66667%;
  }
  .division.\-3-desktop {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-desktop {
    margin-left: 25%;
  }
  .division.\-4-desktop {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-desktop {
    margin-left: 33.33333%;
  }
  .division.\-5-desktop {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-desktop {
    margin-left: 41.66667%;
  }
  .division.\-6-desktop {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-desktop {
    margin-left: 50%;
  }
  .division.\-7-desktop {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-desktop {
    margin-left: 58.33333%;
  }
  .division.\-8-desktop {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-desktop {
    margin-left: 66.66667%;
  }
  .division.\-9-desktop {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-desktop {
    margin-left: 75%;
  }
  .division.\-10-desktop {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-desktop {
    margin-left: 83.33333%;
  }
  .division.\-11-desktop {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-desktop {
    margin-left: 91.66667%;
  }
  .division.\-12-desktop {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-desktop {
    margin-left: 100%;
  }
}
@media (min-width: 1500px) {
  .division.-narrow-widescreen {
    flex: none;
  }
  .division.-full-widescreen {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-widescreen {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-widescreen {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-widescreen {
    flex: none;
    width: 50%;
  }
  .division.-one-third-widescreen {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-widescreen {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-widescreen {
    margin-left: 66.6666%;
  }
  .division.-offset-half-widescreen {
    margin-left: 50%;
  }
  .division.-offset-one-third-widescreen {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-widescreen {
    margin-left: 25%;
  }
  .division.\-1-widescreen {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-widescreen {
    margin-left: 8.33333%;
  }
  .division.\-2-widescreen {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-widescreen {
    margin-left: 16.66667%;
  }
  .division.\-3-widescreen {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-widescreen {
    margin-left: 25%;
  }
  .division.\-4-widescreen {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-widescreen {
    margin-left: 33.33333%;
  }
  .division.\-5-widescreen {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-widescreen {
    margin-left: 41.66667%;
  }
  .division.\-6-widescreen {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-widescreen {
    margin-left: 50%;
  }
  .division.\-7-widescreen {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-widescreen {
    margin-left: 58.33333%;
  }
  .division.\-8-widescreen {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-widescreen {
    margin-left: 66.66667%;
  }
  .division.\-9-widescreen {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-widescreen {
    margin-left: 75%;
  }
  .division.\-10-widescreen {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-widescreen {
    margin-left: 83.33333%;
  }
  .division.\-11-widescreen {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-widescreen {
    margin-left: 91.66667%;
  }
  .division.\-12-widescreen {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-widescreen {
    margin-left: 100%;
  }
}

.division {
  flex: 1 1 auto;
  padding: 1.5625rem;
}
.layout-group.-mobile > .division.-narrow {
  flex: none;
}
.layout-group.-mobile > .division.-full {
  flex: none;
  width: 100%;
}
.layout-group.-mobile > .division.-three-quarters {
  flex: none;
  width: 75%;
}
.layout-group.-mobile > .division.-two-thirds {
  flex: none;
  width: 66.6666%;
}
.layout-group.-mobile > .division.-half {
  flex: none;
  width: 50%;
}
.layout-group.-mobile > .division.-one-third {
  flex: none;
  width: 33.3333%;
}
.layout-group.-mobile > .division.-one-quarter {
  flex: none;
  width: 25%;
}
.layout-group.-mobile > .division.-offset-three-quarters {
  margin-left: 75%;
}
.layout-group.-mobile > .division.-offset-two-thirds {
  margin-left: 66.6666%;
}
.layout-group.-mobile > .division.-offset-half {
  margin-left: 50%;
}
.layout-group.-mobile > .division.-offset-one-third {
  margin-left: 33.3333%;
}
.layout-group.-mobile > .division.-offset-one-quarter {
  margin-left: 25%;
}
.layout-group.-mobile > .division.\-1 {
  flex: none;
  width: 8.33333%;
}
.layout-group.-mobile > .division.-offset\-1 {
  margin-left: 8.33333%;
}
.layout-group.-mobile > .division.\-2 {
  flex: none;
  width: 16.66667%;
}
.layout-group.-mobile > .division.-offset\-2 {
  margin-left: 16.66667%;
}
.layout-group.-mobile > .division.\-3 {
  flex: none;
  width: 25%;
}
.layout-group.-mobile > .division.-offset\-3 {
  margin-left: 25%;
}
.layout-group.-mobile > .division.\-4 {
  flex: none;
  width: 33.33333%;
}
.layout-group.-mobile > .division.-offset\-4 {
  margin-left: 33.33333%;
}
.layout-group.-mobile > .division.\-5 {
  flex: none;
  width: 41.66667%;
}
.layout-group.-mobile > .division.-offset\-5 {
  margin-left: 41.66667%;
}
.layout-group.-mobile > .division.\-6 {
  flex: none;
  width: 50%;
}
.layout-group.-mobile > .division.-offset\-6 {
  margin-left: 50%;
}
.layout-group.-mobile > .division.\-7 {
  flex: none;
  width: 58.33333%;
}
.layout-group.-mobile > .division.-offset\-7 {
  margin-left: 58.33333%;
}
.layout-group.-mobile > .division.\-8 {
  flex: none;
  width: 66.66667%;
}
.layout-group.-mobile > .division.-offset\-8 {
  margin-left: 66.66667%;
}
.layout-group.-mobile > .division.\-9 {
  flex: none;
  width: 75%;
}
.layout-group.-mobile > .division.-offset\-9 {
  margin-left: 75%;
}
.layout-group.-mobile > .division.\-10 {
  flex: none;
  width: 83.33333%;
}
.layout-group.-mobile > .division.-offset\-10 {
  margin-left: 83.33333%;
}
.layout-group.-mobile > .division.\-11 {
  flex: none;
  width: 91.66667%;
}
.layout-group.-mobile > .division.-offset\-11 {
  margin-left: 91.66667%;
}
.layout-group.-mobile > .division.\-12 {
  flex: none;
  width: 100%;
}
.layout-group.-mobile > .division.-offset\-12 {
  margin-left: 100%;
}
@media (max-width: 699px) {
  .division.-narrow-mobile {
    flex: none;
  }
  .division.-full-mobile {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-mobile {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-mobile {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-mobile {
    flex: none;
    width: 50%;
  }
  .division.-one-third-mobile {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-mobile {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-mobile {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-mobile {
    margin-left: 66.6666%;
  }
  .division.-offset-half-mobile {
    margin-left: 50%;
  }
  .division.-offset-one-third-mobile {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-mobile {
    margin-left: 25%;
  }
  .division.\-1-mobile {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-mobile {
    margin-left: 8.33333%;
  }
  .division.\-2-mobile {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-mobile {
    margin-left: 16.66667%;
  }
  .division.\-3-mobile {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-mobile {
    margin-left: 25%;
  }
  .division.\-4-mobile {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-mobile {
    margin-left: 33.33333%;
  }
  .division.\-5-mobile {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-mobile {
    margin-left: 41.66667%;
  }
  .division.\-6-mobile {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-mobile {
    margin-left: 50%;
  }
  .division.\-7-mobile {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-mobile {
    margin-left: 58.33333%;
  }
  .division.\-8-mobile {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-mobile {
    margin-left: 66.66667%;
  }
  .division.\-9-mobile {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-mobile {
    margin-left: 75%;
  }
  .division.\-10-mobile {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-mobile {
    margin-left: 83.33333%;
  }
  .division.\-11-mobile {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-mobile {
    margin-left: 91.66667%;
  }
  .division.\-12-mobile {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-mobile {
    margin-left: 100%;
  }
}
@media (min-width: 700px) {
  .division.-narrow, .division.-narrow-tablet {
    flex: none;
  }
  .division.-full, .division.-full-tablet {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters, .division.-three-quarters-tablet {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds, .division.-two-thirds-tablet {
    flex: none;
    width: 66.6666%;
  }
  .division.-half, .division.-half-tablet {
    flex: none;
    width: 50%;
  }
  .division.-one-third, .division.-one-third-tablet {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter, .division.-one-quarter-tablet {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters, .division.-offset-three-quarters-tablet {
    margin-left: 75%;
  }
  .division.-offset-two-thirds, .division.-offset-two-thirds-tablet {
    margin-left: 66.6666%;
  }
  .division.-offset-half, .division.-offset-half-tablet {
    margin-left: 50%;
  }
  .division.-offset-one-third, .division.-offset-one-third-tablet {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter, .division.-offset-one-quarter-tablet {
    margin-left: 25%;
  }
  .division.\-1, .division.\-1-tablet {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1, .division.-offset\-1-tablet {
    margin-left: 8.33333%;
  }
  .division.\-2, .division.\-2-tablet {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2, .division.-offset\-2-tablet {
    margin-left: 16.66667%;
  }
  .division.\-3, .division.\-3-tablet {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3, .division.-offset\-3-tablet {
    margin-left: 25%;
  }
  .division.\-4, .division.\-4-tablet {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4, .division.-offset\-4-tablet {
    margin-left: 33.33333%;
  }
  .division.\-5, .division.\-5-tablet {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5, .division.-offset\-5-tablet {
    margin-left: 41.66667%;
  }
  .division.\-6, .division.\-6-tablet {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6, .division.-offset\-6-tablet {
    margin-left: 50%;
  }
  .division.\-7, .division.\-7-tablet {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7, .division.-offset\-7-tablet {
    margin-left: 58.33333%;
  }
  .division.\-8, .division.\-8-tablet {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8, .division.-offset\-8-tablet {
    margin-left: 66.66667%;
  }
  .division.\-9, .division.\-9-tablet {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9, .division.-offset\-9-tablet {
    margin-left: 75%;
  }
  .division.\-10, .division.\-10-tablet {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10, .division.-offset\-10-tablet {
    margin-left: 83.33333%;
  }
  .division.\-11, .division.\-11-tablet {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11, .division.-offset\-11-tablet {
    margin-left: 91.66667%;
  }
  .division.\-12, .division.\-12-tablet {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12, .division.-offset\-12-tablet {
    margin-left: 100%;
  }
}
@media (min-width: 1025px) {
  .division.-narrow-desktop {
    flex: none;
  }
  .division.-full-desktop {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-desktop {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-desktop {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-desktop {
    flex: none;
    width: 50%;
  }
  .division.-one-third-desktop {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-desktop {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-desktop {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-desktop {
    margin-left: 66.6666%;
  }
  .division.-offset-half-desktop {
    margin-left: 50%;
  }
  .division.-offset-one-third-desktop {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-desktop {
    margin-left: 25%;
  }
  .division.\-1-desktop {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-desktop {
    margin-left: 8.33333%;
  }
  .division.\-2-desktop {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-desktop {
    margin-left: 16.66667%;
  }
  .division.\-3-desktop {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-desktop {
    margin-left: 25%;
  }
  .division.\-4-desktop {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-desktop {
    margin-left: 33.33333%;
  }
  .division.\-5-desktop {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-desktop {
    margin-left: 41.66667%;
  }
  .division.\-6-desktop {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-desktop {
    margin-left: 50%;
  }
  .division.\-7-desktop {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-desktop {
    margin-left: 58.33333%;
  }
  .division.\-8-desktop {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-desktop {
    margin-left: 66.66667%;
  }
  .division.\-9-desktop {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-desktop {
    margin-left: 75%;
  }
  .division.\-10-desktop {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-desktop {
    margin-left: 83.33333%;
  }
  .division.\-11-desktop {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-desktop {
    margin-left: 91.66667%;
  }
  .division.\-12-desktop {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-desktop {
    margin-left: 100%;
  }
}
@media (min-width: 1500px) {
  .division.-narrow-widescreen {
    flex: none;
  }
  .division.-full-widescreen {
    flex: none;
    width: 100%;
  }
  .division.-three-quarters-widescreen {
    flex: none;
    width: 75%;
  }
  .division.-two-thirds-widescreen {
    flex: none;
    width: 66.6666%;
  }
  .division.-half-widescreen {
    flex: none;
    width: 50%;
  }
  .division.-one-third-widescreen {
    flex: none;
    width: 33.3333%;
  }
  .division.-one-quarter-widescreen {
    flex: none;
    width: 25%;
  }
  .division.-offset-three-quarters-widescreen {
    margin-left: 75%;
  }
  .division.-offset-two-thirds-widescreen {
    margin-left: 66.6666%;
  }
  .division.-offset-half-widescreen {
    margin-left: 50%;
  }
  .division.-offset-one-third-widescreen {
    margin-left: 33.3333%;
  }
  .division.-offset-one-quarter-widescreen {
    margin-left: 25%;
  }
  .division.\-1-widescreen {
    flex: none;
    width: 8.33333%;
  }
  .division.-offset\-1-widescreen {
    margin-left: 8.33333%;
  }
  .division.\-2-widescreen {
    flex: none;
    width: 16.66667%;
  }
  .division.-offset\-2-widescreen {
    margin-left: 16.66667%;
  }
  .division.\-3-widescreen {
    flex: none;
    width: 25%;
  }
  .division.-offset\-3-widescreen {
    margin-left: 25%;
  }
  .division.\-4-widescreen {
    flex: none;
    width: 33.33333%;
  }
  .division.-offset\-4-widescreen {
    margin-left: 33.33333%;
  }
  .division.\-5-widescreen {
    flex: none;
    width: 41.66667%;
  }
  .division.-offset\-5-widescreen {
    margin-left: 41.66667%;
  }
  .division.\-6-widescreen {
    flex: none;
    width: 50%;
  }
  .division.-offset\-6-widescreen {
    margin-left: 50%;
  }
  .division.\-7-widescreen {
    flex: none;
    width: 58.33333%;
  }
  .division.-offset\-7-widescreen {
    margin-left: 58.33333%;
  }
  .division.\-8-widescreen {
    flex: none;
    width: 66.66667%;
  }
  .division.-offset\-8-widescreen {
    margin-left: 66.66667%;
  }
  .division.\-9-widescreen {
    flex: none;
    width: 75%;
  }
  .division.-offset\-9-widescreen {
    margin-left: 75%;
  }
  .division.\-10-widescreen {
    flex: none;
    width: 83.33333%;
  }
  .division.-offset\-10-widescreen {
    margin-left: 83.33333%;
  }
  .division.\-11-widescreen {
    flex: none;
    width: 91.66667%;
  }
  .division.-offset\-11-widescreen {
    margin-left: 91.66667%;
  }
  .division.\-12-widescreen {
    flex: none;
    width: 100%;
  }
  .division.-offset\-12-widescreen {
    margin-left: 100%;
  }
}

.layout-group {
  margin-left: -1.5625rem;
  margin-right: -1.5625rem;
  margin-top: -1.5625rem;
  align-items: flex-start;
}
.layout-group:last-child {
  margin-bottom: -1.5625rem;
}
.layout-group:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.layout-group.-centered {
  justify-content: center;
}
.layout-group.-gapless {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.layout-group.-gapless:last-child {
  margin-bottom: 0;
}
.layout-group.-gapless:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.layout-group.-gapless > .division {
  margin: 0;
  padding: 0;
}
@media (min-width: 700px) {
  .layout-group.-grid {
    flex-wrap: wrap;
  }
  .layout-group.-grid > .division {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    padding: 1.5625rem;
    width: 33.3333%;
  }
  .layout-group.-grid > .division + .division {
    margin-left: 0;
  }
}
.layout-group.-mobile {
  display: flex;
}
.layout-group.-multiline {
  flex-wrap: wrap;
}
.layout-group.-vcentered {
  align-items: center;
}
@media (min-width: 700px) {
  .layout-group:not(.-desktop) {
    display: flex;
  }
}
@media (min-width: 1025px) {
  .layout-group.-desktop {
    display: flex;
  }
}

.tile {
  align-items: stretch;
  flex: 1 1 auto;
  min-height: min-content;
}
.tile.-ancestor {
  margin-left: -1.5625rem;
  margin-right: -1.5625rem;
  margin-top: -1.5625rem;
}
.tile.-ancestor:last-child {
  margin-bottom: -1.5625rem;
}
.tile.-ancestor:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.tile.-child {
  margin: 0 !important;
}
.tile.-parent {
  padding: 1.5625rem;
}
.tile.-vertical {
  flex-direction: column;
}
.tile.-vertical > .tile.-child:not(:last-child) {
  margin-bottom: 1.5625rem !important;
}
@media (min-width: 700px) {
  .tile:not(.-child) {
    display: flex;
  }
  .tile.\-1 {
    flex: none;
    width: 8.33333%;
  }
  .tile.\-2 {
    flex: none;
    width: 16.66667%;
  }
  .tile.\-3 {
    flex: none;
    width: 25%;
  }
  .tile.\-4 {
    flex: none;
    width: 33.33333%;
  }
  .tile.\-5 {
    flex: none;
    width: 41.66667%;
  }
  .tile.\-6 {
    flex: none;
    width: 50%;
  }
  .tile.\-7 {
    flex: none;
    width: 58.33333%;
  }
  .tile.\-8 {
    flex: none;
    width: 66.66667%;
  }
  .tile.\-9 {
    flex: none;
    width: 75%;
  }
  .tile.\-10 {
    flex: none;
    width: 83.33333%;
  }
  .tile.\-11 {
    flex: none;
    width: 91.66667%;
  }
  .tile.\-12 {
    flex: none;
    width: 100%;
  }
}

/*===============================
=            Compass            =
===============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*=====  End of Compass  ======*/
/*============================
=            Base            =
============================*/
* {
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  max-width: 1280px;
  margin: 0 auto;
  background-color: whitesmoke;
  counter-reset: title;
}

.fera-module {
  margin-bottom: 3.75rem;
  padding: 1.875rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 700px) {
  .fera-module {
    padding: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .fera-module {
    padding: 3.75rem;
  }
}

strong {
  font-weight: 600;
}

/*=====  End of Base  ======*/
/*===============================
=            Modules            =
===============================*/
/*==============================
=            Titles            =
==============================*/
.title-guide {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.title-guide::before {
  counter-increment: title;
}

/*=====  End of Modules  ======*/
/*===============================
=            Layouts            =
===============================*/
.main-header {
  padding: 3.125rem 3.125rem 0 3.125rem;
  margin-bottom: 5rem;
}
.main-header .logo {
  width: 31.25rem;
}

/*=====  End of Layouts  ======*/
