@import "../../node_modules/ferakit-frontend/scss/app.scss";
@import "../../node_modules/ferakit-frontend/scss/grid.scss";

/*===============================
=            Compass            =
===============================*/
@import "compass";
@import "compass/reset";

/*=====  End of Compass  ======*/

/*============================
=            Base            =
============================*/

* {
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  max-width: 1280px;
  margin: 0 auto;
  background-color: darken(white, 4%);
  counter-reset: title;
}

.fera-module{
  @include rem(margin-bottom, 60px);
  @include responsive-property(padding, $s: 30, $t: 40, $d: 60);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.1);
}

strong {
  font-weight: 600;
}

/*=====  End of Base  ======*/

/*===============================
=            Modules            =
===============================*/

/*==============================
=            Titles            =
==============================*/

.title-guide {
  @include rem(font-size, 40px);
  @include rem(margin-bottom, 80px);
  font-weight: 300;
  text-transform: uppercase;

  &::before {
    counter-increment: title;
    // content: counter(title, decimal-leading-zero) " - ";
  }

}


/*=====  End of Modules  ======*/


/*===============================
=            Layouts            =
===============================*/

// Header
.main-header {
  @include rem(padding, 50px 50px 0 50px);
  @include rem(margin-bottom, 80px);

  .logo{
    @include rem(width, 500px);
  }

}


/*=====  End of Layouts  ======*/
