/*================================
=            Defaults            =
================================*/

$rounded: 5px;

/*=====  End of Defaults  ======*/

/*==============================
=            Layout            =
==============================*/

$column-gutter: 25px;

/*=====  End of Layout  ======*/

/*==================================
=            Colors            =
==================================*/

$colors: (
  "halloween": #54246a,
  "andromeda": #733e97,
  "night": #315aa9,
  "sky": #3186c7,
  "sunshine": #f3ac47,
  "pink": #da1e77,
  "salmon": #e75a6a,
  "darkness": #333333,
  "mellow": #9e9e9e,
  "nature": #06d25a,
  "void": #eeeeee,
  "baby": #27b9f5,
);

$fera-rainbow: linear-gradient(to right,#f6ad49 0,#e85b6b 16%,#dc1c78 32%,#743f98 50%,#56246b 69%,#305baa 85%,#3187c8 99%);

/*=====  End of Colors  ======*/
